body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
  padding: 20px;
  background-color: #f9fafc;
}

p {
  font-weight: 400;
  white-space: pre-wrap;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}
